.profile
  display: flex
  flex-direction: column
  align-items: center
  .highlight
    color: red
  .dashboard
    display: flex
    width: 100%
    .charts
      display: flex
      flex-direction: column
      width: 80%
      .small-charts
        display: flex
        justify-content: space-between
        margin-top: 20px
        .small-chart
          width: 30%
          &:last-child
            margin-right: 0
    .key-info
      width: 15%
      display: flex
      flex-direction: column
      gap: 20px
