.ActivityChart {
  width: 100%;
  height: 400px;
  padding-bottom: 50px;
  background-color: transparent;
}

.ActivityChart .chart-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.ActivityChart .legend {
  display: flex;
  gap: 20px;
}

.ActivityChart .legend-item {
  display: flex;
  align-items: center;
  margin-right: 50px;
}

.ActivityChart .legend-color {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin-right: 5px;
}

.ActivityChart .black {
  background-color: #000;
}

.ActivityChart .red {
  background-color: #ff0000;
}

/* Assurez-vous que l'axe X est visible uniquement dans ActivityChart */
.ActivityChart .recharts-xAxis .recharts-cartesian-axis-line {
  stroke: #000;
  stroke-width: 2px;
}

/* Pour les lignes horizontales en pointillés uniquement dans ActivityChart */
.ActivityChart .recharts-cartesian-grid-horizontal {
  stroke-dasharray: 3 3;
  stroke: #ccc;
}
