.sidebar
  display: flex
  flex-direction: column
  justify-content: space-between
  background-color: #020203
  padding: 20px 0
  height: 100vh
  position: fixed
  left: 0
  top: 0
  width: 80px
  z-index: 2

.sidebar-nav
  display: flex
  flex-direction: column
  align-items: center
  margin-top: 200px


.icon-container
  background-color: white
  padding: 10px
  margin: 10px 0
  border-radius: 10px

  img
    width: 40px
    height: auto

.sidebar-footer
  writing-mode: vertical-rl
  text-align: center
  color: white
  font-size: 14px
  p
    margin: 50px