.App {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
}

main {
  display: flex;
  margin-top: 60px; /* Hauteur de l'en-tête */
  margin-left: 80px; /* Largeur de la barre latérale */
  padding: 20px;
  width: calc(100% - 80px); /* Pour occuper tout l'espace restant */
}
